* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    padding-top: 4rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.upload-form {
    margin: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-form input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

.upload-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.upload-form button:hover {
    background-color: #45a049;
}

.file-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.file-list li {
    width: calc(33.333% - 20px);
    text-align: center;
    padding: 2rem;
}

.file-list li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.file-list li p {
    font-size: 14px;
    color: #333;
}

.file-list li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.file-details {
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.image-container {
    flex: 1;
    max-width: 800px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.file-info {
    flex: 1;
    font-size: 16px;
    color: #333;
}

.file-info p {
    margin-bottom: 10px;
}

.file-info strong {
    font-weight: bold;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.back-button:hover {
    background-color: #45a049;
}

button {
    margin: 2rem;
}

.subir {
    border: 2px solid darkgreen;
    padding: 1rem;
}

.subir:hover {
    background-color: #45a049;
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
